### How accurate is analyst recommendation for stocks?

And if they are somewhat accurate, what is a typical time horizon for the momentum to halt?

In [43]:
%matplotlib inline
import yfinance as yf
import pandas as pd

In [44]:
# unique actions for each firm
ticker = yf.Ticker("MSFT")
ticker.recommendations.groupby("Firm")["Action"].apply(set)

Firm
Argus                           {main, down, up}
Argus Research                              {up}
Atlantic Equities                     {down, up}
B. Riley FBR                              {init}
BGC Financial                             {down}
BMO Capital                         {main, init}
Bank of America                 {main, down, up}
Bank oferica                              {main}
Barclays                              {main, up}
CFRA                                      {main}
Canaccord Genuity               {main, up, init}
Citi                                      {main}
Citigroup                           {main, down}
Cowen & Co.                     {main, down, up}
Credit Agricole                           {down}
Credit Suisse                             {main}
Deutsche Bank                   {main, down, up}
Evercore Partners                     {main, up}
FBN Securities                            {init}
FBR Capital                           {main, up}
Goldman Sachs                   {main, down, up}
Griffin Securities                        {init}
Hilliard Lyons                      {main, down}
JP Morgan                       {main, down, up}
Jefferies                       {main, up, init}
KeyBanc                                   {main}
Longbow Research                          {init}
MKM Partners                        {main, init}
Macquarie                       {main, up, init}
McAdams Wright Ragen                {main, down}
Mizuho                                    {main}
Morgan Stanley                  {main, down, up}
Nomura                          {main, down, up}
Oppenheimer                               {main}
Pacific Crest                         {main, up}
Piper Sandler                             {main}
PiperJaffray                        {main, init}
RBC Capital                   {main, down, reit}
Raymond James                         {main, up}
Standpoint Research                   {down, up}
Sterne Agee                               {init}
Stifel                                    {main}
Stifel Nicolaus                 {main, down, up}
Summit Research Partners                  {init}
SunTrust Robinson Humphrey                {init}
Tigress Financial                           {up}
UBS                                       {main}
Wedbush                                   {main}
Wells Fargo                           {main, up}
William Blair                         {up, init}
Wunderlich                      {main, up, init}
Name: Action, dtype: object

In [45]:
# Unique To Grade for each firm
ticker.recommendations.groupby("Firm")["To Grade"].apply(set)

Firm
Argus                                                    {Buy, Hold}
Argus Research                                                 {Buy}
Atlantic Equities                             {Neutral, Underweight}
B. Riley FBR                                               {Neutral}
BGC Financial                                                 {Hold}
BMO Capital                             {Outperform, Market Perform}
Bank of America                         {Buy, Neutral, Underperform}
Bank oferica                                                   {Buy}
Barclays                                  {Overweight, Equal-Weight}
CFRA                                                           {Buy}
Canaccord Genuity                                        {Buy, Hold}
Citi                                                       {Neutral}
Citigroup                                            {Neutral, Sell}
Cowen & Co.                             {Outperform, Market Perform}
Credit Agricole                                         {Outperform}
Credit Suisse                                           {Outperform}
Deutsche Bank                                            {Buy, Hold}
Evercore Partners                                       {Overweight}
FBN Securities                                          {Outperform}
FBR Capital                             {Outperform, Market Perform}
Goldman Sachs                                   {Buy, Neutral, Sell}
Griffin Securities                                             {Buy}
Hilliard Lyons                              {Neutral, Long-Term Buy}
JP Morgan                                      {Overweight, Neutral}
Jefferies                     {Buy, Underperform, Hold, Underweight}
KeyBanc                                                 {Overweight}
Longbow Research                                               {Buy}
MKM Partners                                          {Buy, Neutral}
Macquarie                                      {Neutral, Outperform}
McAdams Wright Ragen                                     {Buy, Hold}
Mizuho                                                         {Buy}
Morgan Stanley                            {Overweight, Equal-Weight}
Nomura                                              {, Buy, Neutral}
Oppenheimer                                             {Outperform}
Pacific Crest                               {Overweight, Outperform}
Piper Sandler                                           {Overweight}
PiperJaffray                                            {Overweight}
RBC Capital                             {Outperform, Sector Perform}
Raymond James                                           {Strong Buy}
Standpoint Research                                      {Buy, Hold}
Sterne Agee                                                {Neutral}
Stifel                                                         {Buy}
Stifel Nicolaus                                          {Buy, Hold}
Summit Research Partners                                      {Hold}
SunTrust Robinson Humphrey                                 {Neutral}
Tigress Financial                                              {Buy}
UBS                                                            {Buy}
Wedbush                                                 {Outperform}
Wells Fargo                                 {Overweight, Outperform}
William Blair                           {Outperform, Market Perform}
Wunderlich                                               {Buy, Hold}
Name: To Grade, dtype: object

In [46]:
ticker.calendar

                                    0                    1
Earnings Date     2020-07-16 00:00:00  2020-07-20 00:00:00
Earnings Average                 1.39                 1.39
Earnings Low                     1.35                 1.35
Earnings High                    1.51                 1.51
Revenue Average           36496300000          36496300000
Revenue Low               36053000000          36053000000
Revenue High              37098000000          37098000000

In [47]:
# get latest analyst ratings
import dateutil

date_cutoff = dateutil.parser.parse("2020-03-01")

latest_rec = ticker.recommendations.sort_values('Date').groupby("Firm").tail(1)
latest_rec = lastest_rec[lastest_rec.index > date_cutoff]
latest_rec

                               Firm    To Grade From Grade Action
Date
2020-03-17 15:31:00   Deutsche Bank         Buy              main
2020-03-31 10:30:02   Piper Sandler  Overweight              main
2020-04-03 12:17:23   Raymond James  Strong Buy              main
2020-04-28 12:41:37       Jefferies         Buy              main
2020-04-30 11:01:29       Citigroup     Neutral              main
2020-04-30 12:23:44          Mizuho         Buy              main
2020-04-30 12:49:19  Morgan Stanley  Overweight              main
2020-04-30 13:15:42   Credit Suisse  Outperform              main
2020-04-30 13:42:14             UBS         Buy              main
2020-04-30 14:21:15     BMO Capital  Outperform              main
2020-04-30 15:47:20     Wells Fargo  Overweight              main
2020-05-18 13:45:46     RBC Capital  Outperform              reit

In [48]:
rdf = ticker.recommendations
# verifying they indeed don't have later actions
rdf[rdf['Firm'] == 'Argus Research']

                               Firm To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research      Buy                up

In [49]:
ticker.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [51]:
ticker.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [52]:
ticker.major_holders

        0                                      1
0   1.42%        % of Shares Held by All Insider
1  74.09%       % of Shares Held by Institutions
2  75.16%        % of Float Held by Institutions
3    4630  Number of Institutions Holding Shares

In [54]:
ticker.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",640172572,2020-03-30,0.0844,100961616330
1,Blackrock Inc.,517578906,2020-03-30,0.0683,81627369265
2,State Street Corporation,314771248,2020-03-30,0.0415,49642573522
3,"FMR, LLC",237892832,2020-03-30,0.0314,37518078534
4,Price (T.Rowe) Associates Inc,172056401,2020-03-30,0.0227,27135015001
5,Capital World Investors,139116236,2020-03-30,0.0183,21940021579
6,"Geode Capital Management, LLC",115684966,2020-03-30,0.0153,18244675987
7,Capital International Investors,103523946,2020-03-30,0.0137,16326761523
8,Capital Research Global Investors,93247848,2020-03-30,0.0123,14706118108
9,Northern Trust Corporation,92119080,2020-03-30,0.0121,14528100106

In [55]:
ticker.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [56]:
ticker.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [57]:
ticker.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [58]:
ticker.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [59]:
ticker.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0

[75 rows x 2 columns]